@model TaskVM

@{
    ViewData["Title"] = "Edit Task";
}

<form method="post">
    <input asp-for="Id" hidden/>
    <div class="card">
        <div class="card-header">
            <h1>Create Task</h1>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12 mb-2">
                    <label asp-for="TaskTitle"></label>
                    <input asp-for="TaskTitle" class="form-control form-control-border" placeholder="Task Name" autofocus>
                    <span class="text-danger" asp-validation-for="TaskTitle"></span>
                </div>
                <div class="col-12 mb-2">
                    <label asp-for="TaskTypeId"></label>
                    <select class="form-control form-control-border" asp-for="TaskTypeId" asp-items="Model.TaskTypesList()" required>
                    </select>
                    <span class="text-danger" asp-validation-for="TaskTypeId"></span>
                </div>
                <div class="col-12 mb-2">
                    <label asp-for="ClientId"></label>
                    <input asp-for="ClientId" class="form-control form-control-border" placeholder="Client Name" required />
                    <span class="text-danger" asp-validation-for="ClientId"></span>
                </div>



                <div class="col-12 mb-2">
                    <label asp-for="CloudURL"></label>
                    <input asp-for="CloudURL" class="form-control form-control-border" placeholder="Cloud URL" required />
                    <span class="text-danger" asp-validation-for="CloudURL"></span>
                </div>


                <div class="col-2 d-flex mb-2">
                    <div class="form-group">
                        <label asp-for="HighPriority"></label>
                        <input type="checkbox" class="form-control form-control-border" asp-for="HighPriority" />
                    </div>
                </div>

                

                <div class="col-10 mb-2">
                    <label asp-for="TaskTime"></label>
                    <select class="form-control form-control-border" asp-for="TaskTime" asp-items="Model.TaskTimeList()" required>
                    </select>
                    <span class="text-danger" asp-validation-for="TaskTime"></span>
                </div>


                <div class="col-6 mb-2">
                    <div class="form-group">
                        <label asp-for="SoftwareVersionFrom"></label>
                        <input asp-for="SoftwareVersionFrom" class="form-control form-control-border" placeholder="Software Version From" required />
                        <span class="text-danger" asp-validation-for="SoftwareVersionFrom"></span>
                    </div>
                </div>

                <div class="col-6 mb-2">
                    <div class="form-group">
                        <label asp-for="SoftwareVersionTo"></label>
                        <input asp-for="SoftwareVersionTo" class="form-control form-control-border" placeholder="Software Version To" required />
                        <span class="text-danger" asp-validation-for="SoftwareVersionTo"></span>
                    </div>
                </div>

                <div class="col-6 mb-2">
                    <div class="form-group">
                        <label asp-for="IssueOnPreviousSoftware"></label>
                        <input asp-for="IssueOnPreviousSoftware" class="form-control form-control-border" placeholder="Issue On Previous Version" />
                        <span class="text-danger" asp-validation-for="IssueOnPreviousSoftware"></span>
                    </div>
                </div>

                <div class="col-6 mb-2">
                    <div class="form-group">
                        <label asp-for="Remarks"></label>
                        <input asp-for="Remarks" class="form-control form-control-border" placeholder="Remarks" />
                    </div>
                </div>

                <div class="col-12 text-right mb-2">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Update Task" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/site.js"></script>
    <script src="~/js/createTask.js"></script>
    <partial name="_ValidationScriptsPartial" />
}