@model ChangePasswordVM
@inject App.Base.Providers.Interfaces.ILoginUserProvider UserProvider

@{
    ViewData["Title"] = "Change Password";
}

<form method="post" id="confirmation" autocomplete="off">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1>Change Password</h1>
                </div>

                <div class="card-body">
                    <div class="row">

                        <div class="col-6 mb-2">
                            <label for="Username">Username</label>
                            <div class="form-control form-control-border text-muted" id="Username">@UserProvider.GetUsername()</div>
                        </div>


                        <div class="col-6 mb-2">
                            <label asp-for="OldPassword"></label>
                            <input type="password" asp-for="OldPassword" class="form-control form-control-border" placeholder="Current Password" autofocus>
                            <span class="text-danger" asp-validation-for="OldPassword"></span>
                        </div>

                        <div class="col-6 mb-2">
                            <label asp-for="NewPassword"></label>
                            <input type="password" asp-for="NewPassword" class="form-control form-control-border" placeholder="New Password">
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                        </div>

                        <div class="col-6 mb-2">
                            <label asp-for="ConfirmPassword"></label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control form-control-border" placeholder="Confirm Password">
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>


                        <div class="col-12 text-right mb-2">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Change Password" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>