@model PasswordResetVM

@{
    ViewData["Title"] = "Password Reset";
}

<form method="post" id="confirmation" autocomplete="off">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1>Password Reset</h1>
                </div>
                
                <div hidden>
                    @Html.ValidationSummary()
                </div>

                <div class="card-body">
                    <div class="row">

                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="FullName" />

                        <div class="col-6 mb-2">
                            <label>Username</label>
                            <div class="form-control form-control-border text-muted" id="Username">@Model.FullName</div>
                        </div>


                        <div class="col-6 mb-2">
                            <label asp-for="Password"></label>
                            <input type="password" asp-for="Password" class="form-control form-control-border" placeholder="New Password">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>



                        <div class="col-12 text-right mb-2">
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Reset Password" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>