@{
    ViewData["Title"] = "Home Page";
}

<style>
    .dashboard-Info{
        cursor:pointer;
    }

    .fa-solid{
        transition: 0.1s;
    }

    .dashboard-Info:hover .fa-solid{
        transform: scale(1.1)
    }
</style>

<div class="row">
    <div class="col-12 col-sm-6 col-md-3 dashboard-Info" onclick="location.href = 'Task/GetAllTask'">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-solid fa-cog"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Total Tasks</span>
                <span class="info-box-number">
                    @ViewBag.TotalTaskCount
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3 dashboard-Info" onclick="location.href = 'Task/GetAllTask/?TSKStatus=Pending'">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-solid fa-microchip"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Pending Tasks</span>
                <span class="info-box-number">@ViewBag.TotalPendingTaskCount</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-4 col-md-3 dashboard-Info" onclick="location.href = 'Task/GetAllTask/?TSKStatus=InProgress'">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-solid fa-hammer"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Processing Tasks</span>
                <span class="info-box-number">@ViewBag.TotalWorkingTaskCount</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-4 col-md-3 dashboard-Info" onclick="location.href = 'Task/GetAllTask/?TSKStatus=Completed'">
        <div class="info-box mb-3">
            <span class="info-box-icon bg-green elevation-1"><i class="fas fa-solid fa-check"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">Completed Tasks</span>
                <span class="info-box-number">@ViewBag.TotalCompletedTaskCount</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>


<div class="row">
    <div class="col-6">
        <!-- PIE CHART -->
        <div class="card card-dark">
            <div class="card-header">
                <h3 class="card-title">Task Chart</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    @*<button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button> *@
                </div>
            </div>
            <div class="card-body">
                <canvas id="pieChart" style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="6">

    </div>
</div>

@section Scripts{
    <script src="~/js/Chart.js"></script>
}