@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <a asp-action="GetAllTask" asp-controller="Task">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Tasks</span>
                    <span class="info-box-number">
                        @ViewBag.TotalTaskCount
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </a>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <a asp-action="GetAllPendingTask" asp-controller="Task">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-microchip"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Pending Tasks</span>
                    <span class="info-box-number">@ViewBag.TotalPendingTaskCount</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </a>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
        <a asp-action="GetAllWorkingTask" asp-controller="Task">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fa-solid fa-hammer"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Processing Tasks</span>
                    <span class="info-box-number">@ViewBag.TotalWorkingTaskCount</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </a>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        <a asp-action="GetAllCompletedTask" asp-controller="Task">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-green elevation-1"><i class="fas fa-check"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Completed Tasks</span>
                    <span class="info-box-number">@ViewBag.TotalCompletedTaskCount</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </a>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>