input[type=disabled]{
    cursor: not-allowed;
}

input:-webkit-autofill {
    -webkit-text-fill-color: inherit !important;
}

.truncate-text {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}